.search-container {
    margin: 20px 0;
  }
  
  .search-bar {
    margin-bottom: 15px;
  }
  
  ion-card {
    margin-top: 20px;
  }
  
  ion-item {
    --inner-padding-end: 10px;
  }
  
  ion-button[fill="clear"] {
    margin-left: auto;
  }
  