<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil del Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos del Usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-text>{{ userEmail }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña</ion-label>
        <ion-text>{{ userPassword }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Edad</ion-label>
        <ion-text>{{ userAge }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Teléfono</ion-label>
        <ion-text>{{ userPhone }}</ion-text>
      </ion-item>
    </ion-card-content>

    <ion-button expand="full" (click)="goToConfig()">Ir a Configuración</ion-button>
  </ion-card>
</ion-content>
