<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <!-- Imagen de bienvenida -->
  <ion-img src="assets/images/login-image.svg"></ion-img>

  <!-- Tarjeta de bienvenida -->
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Crear una cuenta</ion-card-title>
    </ion-card-header>

    <ion-card-content>
    </ion-card-content>

    <!-- Lista de campos de entrada -->
    <ion-list>
      <ion-item>
        <ion-input label="Correo" type="email" placeholder="email@domain.com" [(ngModel)]="registerEmail" (ionBlur)="validateEmail()"></ion-input>
        <ion-text color="danger" *ngIf="emailError">El correo no es válido</ion-text>
      </ion-item>

      <ion-item>
        <ion-input label="Contraseña" type="password" placeholder="********" [(ngModel)]="registerPassword" (ionBlur)="validatePassword()"></ion-input>
        <ion-text color="danger" *ngIf="passwordError">La contraseña debe tener al menos una mayúscula y un número</ion-text>
      </ion-item>

      <ion-item>
        <ion-input label="Edad" type="number" placeholder="Edad" [(ngModel)]="registerAge" (ionBlur)="validateAge()"></ion-input>
        <ion-text color="danger" *ngIf="ageError">La edad debe estar entre 10 y 100</ion-text>
      </ion-item>

      <ion-item>
        <ion-input label="Teléfono" type="tel" placeholder="+56912345678" [(ngModel)]="registerPhone" (ionBlur)="validatePhone()"></ion-input>
        <ion-text color="danger" *ngIf="phoneError">El teléfono debe comenzar con +569 y tener 8 dígitos</ion-text>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- Contenedor para centrar el botón -->
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button expand="full" id="open-loading" (click)="register()">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Frase para usuarios con cuenta -->
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <p>¿Ya tienes una cuenta? <a [routerLink]="['/login']">Inicia sesión aquí</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Indicador de carga -->
  <ion-loading
    trigger="open-loading"
    message="Registrando..."
    [duration]="1000"
    spinner="circles">
  </ion-loading>
</ion-content>
